{{ next_data('artalk', config.artalk, {
  el: '#comments',
  pageKey: url_for(page.path) | replace(r/index\.html$/, ''),
  pageTitle: page.title
}) }}

<link rel="stylesheet" href="{{ config.artalk.cssUrl }}">
<style>.artalk{width:initial;}</style>

<script>
document.addEventListener('page:loaded', function() {
  const { el, jsUrl, server, site, pvCount, commentCount } = CONFIG.artalk;

  if (CONFIG.page.comments) {
    NexT.utils.loadComments(el)
      .then(() => NexT.utils.getScript(jsUrl, { condition: window.Artalk }))
      .then(() => {
        Artalk.init(CONFIG.artalk);
      });
  } else {
    NexT.utils.getScript(jsUrl, { condition: window.Artalk })
      .then(() => {
        Artalk.loadCountWidget({
          server: server,
          site: site,
          pvEl: '#ArtalkPV',
          countEl: '#ArtalkCount'
        });
      });
  }
});
</script>